@page
@model User_IndexModel
@{
    ViewData["Title"] = "User Home page";
}


<div class="text-center">
    <h1 class="display-4">Hello @User.Identity?.Name!</h1>

@if (Model.isKeyPresent)
{
    @if (Model.User.IsInRole("Admin") || Model.User.IsInRole("User"))
    {
        <p>Create a new vault <a asp-page=".\Create"> here</a>.</p>
    }

    <p>Key is present</p>
    <table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Vault[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vault[0].Path)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vault[0].noce)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vault[0].tag)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Vault) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Path)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.noce)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tag)
            </td>
            <td>
                <div id="controls" >
                    <a asp-page="./Secrets" asp-route-id="@item.Id">Secrets</a> |
                    <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a> |
                    <a asp-page="./UserAccess" asp-route-id="@item.Id">User Access</a> |
                </div>
            </td>
        </tr>
}
    </tbody>
</table>
}
else
{
    <p>Key is not present</p>
    <div id="keyexchange">
        <label for="key">Chanllenge:</label><input type="text" id="key" />
        <button id="send">Request</button>
        <img id="loading" src="/Loading_icon.gif" hidden="true" />
    </div>
}
      
</div>

<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/keyexc.js"></script>