@page
@model PasswordVault.WebUIServer.Pages_User_Access.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>UserVault</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserVault.Role)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserVault.Role)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserVault.VaultKey)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserVault.VaultKey)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserVault.User)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserVault.User.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserVault.Vault)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserVault.Vault.Name)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="UserVault.UserId" />
        <input type="hidden" asp-for="UserVault.VaultId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
